:root {
  font-family: monospace;
}
svg {
  background-color: #eee;
  margin-right: 1rem;
}
.Graph {
  display: flex;
  margin: 1rem 0;
}
.control-row {
  display: flex;
  align-items: center;
}
.control-row input {
  margin-right: 1rem;
}
