:root {
  font-family: monospace;
  background-color: #222;
  color-scheme: dark;
}
h1:hover {
  cursor: pointer;
}
svg {
  background-color: black;
  margin-right: 1rem;
}
.Graph {
  margin: 1rem 0;
}
.machines {
  display: flex;
}
.control-row {
  display: flex;
  align-items: center;
}
.control-row input {
  margin-right: 1rem;
}
