:root {
  font-family: monospace;
}
button {
  font: inherit;
  border: 1px solid black;
  border-radius: none;
  background: transparent;
}
button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}
svg {
  background-color: #eee;
  margin-right: 1rem;
}
.Graph {
  display: flex;
}
.control-row {
  display: flex;
  align-items: center;
}
.control-row input {
  margin-right: 1rem;
}
